body{
color: darkblue;
background-color: lightblue;

}
h1{
color: lavender
font-family: 'Raleway', sans-serif;
  font-size:30pt;
}
h2{
color: darkblue
 font-family: 'Raleway', sans-serif;
  font-size:30pt;
}
h3{
color: lightgreen
font-family: 'Raleway', sans-serif;
font-size:30pt;
}
